{% extends 'base.html.twig' %}

{% block title %}Informations sur {{ produit.nom }}{% endblock %}

{% block body %}
<head>
    <link href="/css/infoProduit.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/exploitation/{{ exploitation.id }}">{{ exploitation.nom }}</a></li>
            <li class="breadcrumb-item"><a href="/exploitation/{{ exploitation.id }}/produits">Liste des produits de l'exploitation {{ exploitation.nom }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ produit.nom }}</li>
        </ol>
    </nav>
    <div class="container-fluid bg-light d-flex justify-content-between w-75">
        <div>
            <h1 class="lead my-5 border-primary border-bottom rounded-left h1">{{ produit.nom }}</h1>
            <p class="my-5 border rounded border-dark font-weight-bold p-2"><span class="font-weight-light text-secondary">Catégorie : </span>{{ produit.categorie }}</p>
            <p class="my-5 border rounded border-dark font-weight-bold p-3"><span class="font-weight-light text-secondary text-center">Description<br><br></span>{{ produit.description }}</p>
            <a href="/exploitation/{{ exploitation.id }}/produits" ><img style="max-width: 100px; max-height: 100px;" src="/images/leftArrow.png"></a>
        </div>
        <div>
            <img style="margin-top: auto !important; margin-bottom: auto !important;" src="/images/{{ image }}">
        </div>
    </div>
</body>
{% endblock %}
