{% extends 'base.html.twig' %}

{% block title %}Informations sur {{ produit.nom }}{% endblock %}

{% block body %}
<head>
    <style>
        .mb-4
        {
            margin: 200px;
        }
    </style>
</head>

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/exploitation/{{ exploitation.id }}">{{ exploitation.nom }}</a></li>
            <li class="breadcrumb-item"><a href="/exploitation/{{ exploitation.id }}/produits">Liste des produits de l'exploitation {{ exploitation.nom }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ produit.nom }}</li>
        </ol>
    </nav>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ produit.nom }}</h6>
        </div>
        <div class="card-body">
            <p>{{ produit.description }}</p>
        </div>
    </div>
</body>
{% endblock %}
