{% extends 'base.html.twig' %}

{% block title %}Liste des evenements de {{ exploitation.nom }}{% endblock %}

{% block body %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Tables - SB Admin</title>
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <style>
            body{
                margin: 0;
                padding: 0;
                min-height: 100vh;
                justify-content: center;
                align-items: center;
                font-family: consolas;
            }

            .container{
                margin-top: 10px;
                width: 1000px;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .container .card{
                position: relative;
                cursor: pointer;
            }

            .container .card .face{
                width: 300px;
                height: 200px;
                transition: 0.5s;
            }

            .container .card .face.face1{
                position: relative;
                background: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);
            }

            .container .card:hover .face.face1{
                background: #ff0057;
                transform: translateY(0);
            }

            .container .card .face.face1 .content{
                opacity: 0.6;
                transition: 0.5s;
            }

            .container .card:hover .face.face1 .content{
                opacity: 1;
            }

            .container .card .face.face1 .content img{
                max-width: 100px;
            }

            img
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .container .card .face.face1 .content h3{
                margin: 10px 0 0;
                padding: 0;
                color: #fff;
                text-align: center;
                font-size: 1.5em;
            }

            .container .card .face.face2{
                position: relative;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
                transform: translateY(-100px);
            }

            .container .card:hover .face.face2{
                transform: translateY(0);
            }

            .container .card .face.face2 .content p{
                margin: 0;
                padding: 0;
            }

            .container .card .face.face2 .content a{
                margin: 15px 0 0;
                display:  inline-block;
                text-decoration: none;
                font-weight: 900;
                color: #333;
                padding: 5px;
                border: 1px solid #333;
            }

            .container .card .face.face2 .content a:hover{
                background: #333;
                color: #fff;
            }

            .card
            {
                background-color: transparent; !important;
                border: 0px;
            }

            .container .add .face.face1
            {
                background-color: #DDDDDD;
            }

            .container .card.add:hover .face.face1{
                background: #333333;
                color: #DDDDDD;
            }

            .container .card.add .face.face1 .content h3{
                color: #333333;
            }

            .container .card.add:hover .face.face1 .content h3{
                color: #DDDDDD;
            }

        </style>
    </head>
    <body class="sb-nav-fixed">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb"> <!-- Fil d'arianne-->
            <li class="breadcrumb-item"><a href="/exploitation/{{ exploitation.id }}">{{ exploitation.nom }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">liste evenements de l'exploitation {{ exploitation.nom}}</li>
        </ol>
    </nav>
    <div id="layoutSidenav" style="background-color: white;">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Evenement de {{ exploitation.nom }}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Détail</th>
                                        <th>Date Evenement</th>
                                        <th>Horaire</th>
                                        <th>Image</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for evenement in evenements %}
                                        <tr>
                                            <td>{{ evenement.nomEvt }}</td>
                                            <td>{{ evenement.detailEvt }}</td>
                                            <td>{{ evenement.dateEvt }}</td>
                                            <td>{{ evenement.horaireEvt }}</td>
                                            <td> <img style="max-width: 100px;max-height: 100px;" src="/images/{{ images[evenement.nomEvt] }}"></td>
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            <td colspan="4" style="text-align: right;"> Ajouter un evenement</td>
                                            <td> <a href="{{ path("ajouter_evenement", {id: evenements[0].getIdProducteur()}) }}">
                                                    <img src="/images/plus.svg" style="max-height: 50px;max-width: 50px;">
                                                </a></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}